/*Modules are the reusable, modular parts of our design. They are the callouts, the sidebar sections, the product lists and so on.*/
.template {
  display: none;
}

article {
  margin: 25px 10% 0 10%;
  text-align: center;
  background-color: #ccc;
  border: 1px solid black;
}

.project-image {
  width: 100%;
}
